body {
    color: #FFFFFF; /* colour of the text on the page*/
	font-size: 20px;
	line-height: 50px;
	background-color: #363838; /* colour of the main background*/
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

h1	{
	font-family: "Arial Black", Gadget, sans-serif;
	color: #FFEA8A;
	font-size: 45px;
	line-height: 50px;
	display: flex;
	flex-wrap: wrap; /* allows it to wrap around if the screan shrinks */
	justify-content: space-between; /* or space-around */
}

#submitBox { /*changed the size of both hight and width for the search bar*/
    /*it is also respnsive with the screen size if on eiher mobile or computer*/
     position: center;
     top: 355px;
    left: 500px;
    height: 40px;
     width: 100%;
}

.legend {
    position: center;
    min-width: 450px ;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}